venv/
.history/
__pycache__/
.idea/
logs/celery.log
celerybeat-schedule
.vscode/
app/.env
.DS_Store
celerybeat.pid
app/logs/debug.log
app/logs/celery.log
/k8s/secrets/
.pytest_cache
sterling_accounting_diagram.png
docker-compose.local.yml
.coverage
htmlcov/
.scannerwork/
coverage.xml
compose.yml
.ruff_cache
.env
